#profile {
  border-radius: 50%;
  margin-top: 50px;
}

div {
}

body {
  margin: 0px;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  font-size: 5.625rem;
  color: #66BFBF;
  margin: 50px auto 0 auto;
  line-height: 2;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-size: 2.5rem;
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: 1500;
}

p{
  line-height: 2;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.intro{
  width: 30%;
  margin: auto;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.mid-container {
  margin: 100px 0;
}

.bottom-container{
  background-color: #66BFBF;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.pencil_img{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.book_img{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-me{

}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.bottom-container {
  padding: 50px 0 20px;
}

.foot-link {
}

.copyright-text{
  color: #EAF6F6;
  font-size: 0.75em;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.btn {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #11cdd4 5%, #408c99 100%);
	background-color:#11cdd4;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
  margin-bottom: 100px;
}
.btn:hover {
	background:linear-gradient(to bottom, #408c99 5%, #11cdd4 100%);
	background-color:#408c99;
}
.btn:active {
	position:relative;
	top:1px;
}
